@prefix: atc;
@atc-slider-width: 402px;
@atc-basic-border-color: #d9d9d9;

.@{prefix}-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  box-sizing: border-box;
  background: #f0f2f5;
  min-width: 1226px;
  min-height: 586px;
}

.@{prefix}-slider {
  flex: 0 0 @atc-slider-width;
  width: @atc-slider-width;
  max-width: @atc-slider-width;
  min-width: @atc-slider-width;
  padding: 18px 12px;
  box-sizing: border-box;
  height: 100%;
  background: #fff;
}

.@{prefix}-layout-content {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-x: hidden;
  margin: 8px;
}

.@{prefix}-group-title {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  padding-bottom: 12px;
}

.@{prefix}-config-header {
  background: #fff;
  padding-top: 10px;
  padding-left: 12px;
  height: 96px;
  margin-bottom: 2px;
}

.@{prefix}-elements-container {
  display: flex;
  flex-wrap: wrap;
}

.@{prefix}-used-selected {
  background: #00000008;
  color: #0000008c;
  cursor: default !important;
}

.@{prefix}-element {
  user-select: none;
  display: inline-block;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 6px;
  margin-right: 6px;
  border: 1px solid #0003;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
  cursor: move;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.@{prefix}-config-tip {
  font-size: 14px;
  height: 20px;

  .@{prefix}-config-tip-icon {
    color: #188ef2;
    margin-right: 6px;
    vertical-align: middle;
  }
}

.@{prefix}-draging-icon {
  position: absolute;
  z-index: 10;
  top: 2px;
  left: 8px;
  height: 0;
}

.@{prefix}-config-area {
  flex: 1;
  padding: 12px 16px;
  background-color: #fff;
}

.@{prefix}-operation-bar {
  margin-top: 2px;
  height: 52px;
  line-height: 52px;
  padding: 0 16px;
  user-select: none;
  background-color: #fff;
}

.@{prefix}-rows {
  display: inline-block;
  user-select: none;
  margin-right: 16px;
}

.@{prefix}-rows-setting {
  width: 68px;
  margin: 0 8px;
  height: 28px;
  line-height: 28px;

  .ant-input-number-input {
    height: 28px;
  }
}

.@{prefix}-rows-btn {
  display: inline-block;
  cursor: pointer;
}

.@{prefix}-rows-add {
  color: #188ef2;
}

.@{prefix}-rows-delete {
  color: #f04f43;
}

.@{prefix}-rows-icon {
  margin-right: 4px;
}

.@{prefix}-operation-divider {
  display: inline-block;
  width: 1px;
  height: 16px;
  margin: 0 8px;
  vertical-align: middle;
  background: #e8e8e8;
}

.@{prefix}-operation-btns {
  float: right;
}

.@{prefix}-operation-btn {
  margin-left: 8px;
}

.@{prefix}-column-container {
  margin-top: 16px;
}

.@{prefix}-column {
  display: flex;
  flex-direction: row;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.@{prefix}-column-index {
  display: inline-block;
  width: 56px;
  background: #fff;
  border: 1px solid #ccc;
  border-right: none;
  text-align: center;
  user-select: none;
}

.@{prefix}-column-edit {
  color: #3e68b7;
  margin-left: 8px;
  cursor: pointer;
}

.@{prefix}-column-title {
  display: inline-block;
  cursor: move;
  position: relative;
  flex: 1;
  background: #f7fbff;
  border: 1px solid #188ef2;
  padding-left: 24px;
}

.@{prefix}-preview-modal {
  .ant-modal-header {
    border-bottom: 0;
  }
}
